.something { }

#something
{

}
div{}

span[data-role]
{
  text-decoration: underline;
}

input {
  border    : 2px;
  width     : 10%;
  background: #a1b2c3;
}

button:first-child {

}

span[target=_blank]
{
  align: center;
}

.myButton[data-action]
{
  outline: 2px solid #345abc;
}
